/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#container {
    width: 50%;
    height: 200px;
    overflow: hidden;
}
  
#container, img {
    display: block;
    max-width: 100%;
    max-height: 650px;
    margin: 0 auto;
}
