<br />
<div id="container">

        <mat-form-field class="form">
                <input matInput name="zip-code" placeholder="Enter ZIP Code" type="number" pattern="/^\d{5}$/" required #zipinput>
        </mat-form-field>

        <br />
        <br />
        <button class="button" mat-raised-button color="accent" (click)="getWeather(zipinput.value)">Submit</button>


        <div id="display" *ngIf="weatherService.weather" ngDefaultControl>

                <p>{{weatherService.weather.description | titlecase}}</p><br>

                <img src={{weatherService.imagesrc}} />

        </div>
</div>
<br>
<app-spotify>/</app-spotify>