<form class="example-form">
        <mat-form-field class="example-full-width">
                <input matInput name="zip-code" autocomplete="off" placeholder="Enter ZIP Code" type="text" pattern="/^\d{5}$/" maxlength="5" required #zipinput>
        </mat-form-field>
</form>

<button mat-button (click)="getWeather(zipinput.value)">Submit</button>


<div *ngIf="weather" ngDefaultControl [(ngModel)]="weather">
    <ul>
        <li>{{weather.description}}</li><br>

        <li>{{weather.type}}</li><br>
            
        <li>{{weather.default_genre}}</li><br> 
    </ul>
    <img src={{imagesrc}} height="20%" width="20%" /> 
</div>