<br>
<button class="button" 
mat-raised-button
color="accent" 
(click)="SwitchToLogin(zipInput)">Login</button>
<br>
<br>
<button 
class="button" 
mat-raised-button
color="accent" 
(click)="SwitchToRegister(zipInput)">Register</button>

<br>
<br>
<div *ngIf = (isLoginNotRegister)>
    <form class="form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter username" type="text" required #usernameInput><br>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter password" type="password" required #passwordInput><br>
        </mat-form-field><br>
    </form>


    <br>
    <br>
    <br>

    <button class="button" mat-raised-button color="accent"
        (click)="Submit(usernameInput.value, passwordInput.value, null)">Submit</button>
</div>
<div *ngIf = (!isLoginNotRegister)>
    <form class="form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter username" type="text" required #usernameInput><br>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter password" type="password" required #passwordInput><br>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter zip" type="text" required #zipInput><br>
        </mat-form-field>
    </form>


    <br>
    <br>
    <br>

    <button class="button" mat-raised-button color="accent"
        (click)="Submit(usernameInput.value, passwordInput.value, zipInput.value)">Submit</button>
</div>