<br>
<button class="button" mat-raised-button color="accent" (click)="SwitchToLogin(zipInput)">Login</button>
<br>
<br>
<button class="button" mat-raised-button color="accent" (click)="SwitchToRegister(zipInput)">Register</button>

<br>
<br>
<div *ngIf=(isLoginNotRegister)>

    <mat-form-field class="form">
        <input matInput placeholder="Enter username" type="text" required #usernameInput><br>
    </mat-form-field><br>

    <mat-form-field class="form">
        <input matInput placeholder="Enter password" type="password" required #passwordInput><br>
    </mat-form-field><br>



    <br>
    <br>
    <br>

    <button class="button" mat-raised-button color="accent"
        (click)="Login(usernameInput.value, passwordInput.value, null)">Submit</button>
</div>
<div *ngIf=(!isLoginNotRegister)>

    <mat-form-field class="form">
        <input matInput placeholder="Enter username" type="text" required #usernameInput><br>
    </mat-form-field><br>

    <mat-form-field class="form">
        <input matInput placeholder="Enter password" type="password" required #passwordInput><br>
    </mat-form-field><br>

    <mat-form-field class="form">
        <input matInput placeholder="Enter zip" type="text" required #zipInput><br>
    </mat-form-field>



    <br>
    <br>
    <br>

    <button class="button" mat-raised-button color="accent"
        (click)="Register(usernameInput.value, passwordInput.value, zipInput.value)">Submit</button>
</div>